{% load static %}
{% load tailwind_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    {% include 'links.html' %}
</head>

<body>

{% include 'partials/navbar.html' %}

<!-- Page Container -->
<div class="w-full flex flex-row">

    <!-- content-lext(page banner) -->
     <div class=" hidden md:max-lg:hidden w-full h-lvh bg-center bg-cover relative md:flex flex-col justify-center " style=" background-image: url('{% static "images/form-bg.jpg" %}'); " >
         <!-- background overlay -->
         <div class="absolute w-full h-full bg-black/50 z-0 " > </div>

        <!-- banner text -->
         <div class="w-full p-50 z-10 flex flex-col gap-4">
            <h1 class="text-6xl text-white font-bold"> Welcome to Warri Jobs </h1>
            <p class="text-white text-2xl font-semibold" > The Number one place to find Job opportunities in Delta State </p>
         </div>

     </div>

     <!-- content right(form field) -->
      <div class="w-full " >
        <div class="w-full flex flex-col pt-30 pr-4 pl-4 pb-20    md:pl-20 md:pr-20 md:pt-30">
            <div class=" flex flex-col gap-2">
                 <h1 class="text-4xl text-black font-bold" > Create an account </h1>
                 <p class="text-gray-600 ">Create an account to access extra features today</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="p-4 w-full rounded-md bg-[#0A96DE] text-white font-bold cursor-pointer "> Create account </button>
                <p>Have an account?  <a href="{% url 'login' %}" class="font-bold">Login</a> </p>
            </form>
        </div>
      </div>

</div>

</body>