{% extends 'index.html' %}
{% load static %}
{% block title %} {{ job.title}} | job-page {% endblock %}
{% block content %}
    <!-- header section -->
    <div class="w-full flex justify-center bg-cover bg-center bg-black relative"  style=" background-image: url('{% static "images/job-bg.jpg" %}'); " >
        <!-- background overlay -->
         <div class="absolute w-full h-full bg-black/50 z-0" >

         </div>
        <div class="w-full pb-20 pt-40 z-10 md:w-6xl md:pb-30 md:pt-40  " >
            <div  class="w-full flex flex-col items-center gap-4 text-center" >
                <h1 class="text-white font-bold text-3xl sm:text-5xl text-center"> {{ job.title }} </h1>
                <div class="flex flex-row gap-3"> 
                    <div class="flex flex-row gap-1.5"> <i class="bi bi-clock text-[#0A96DE] text-xl"></i> <p class="font-semibold text-white"> {{ job.job_type }}</p> </div>
                    <div class="flex flex-row gap-1.5"> <i class="bi bi-geo-alt text-[#0A96DE] text-xl"></i> <p class="font-semibold text-white" >{{ job.work_location }}</p> </div>
                    <div class="flex flex-row gap-1.5 "> <i class="bi bi-grid text-[#0A96DE] text-xl "></i> <p class="font-semibold text-white" >{{ job.categories }}</p> </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Job Details Section -->
     <div class="w-full flex justify-center pl-4 pr-4 md:p-0">
        <div class="w-full  md:w-1/2 md:pb-40">
            <!-- Job detail cards -->
             <div class="w-full flex flex-col gap-2 border-b-1 border-[#DADADA] pb-10 pt-10 ">
                <h2 class="font-bold text-[#0A96DE] text-3xl">Job Description</h2>
                <p> {{ job.description}} </p>
             </div>
             <div class="w-full flex flex-col gap-2 border-b-1 border-[#DADADA] pb-10 pt-10 ">
                <h2 class="font-bold text-[#0A96DE] text-3xl">Core Tasks</h2>
                {% for task in job.core_tasks.splitlines %}
                <li> {{ task }} </li>
                {% endfor %}
             </div>
             <div class="w-full flex flex-col gap-2 border-b-1 border-[#DADADA] pb-10 pt-10 ">
                <h2 class="font-bold text-[#0A96DE] text-3xl">Requirements</h2>
                {% for requirement in job.requirements.splitlines %}
                <li> {{ requirement }} </li> 
                {% endfor %}
             </div>
             {% if job.nice_to_have %}
             <div class="w-full flex flex-col gap-2 border-b-1 border-[#DADADA] pb-10 pt-10 ">
                <h2 class="font-bold text-[#0A96DE] text-3xl">Nice to have</h2>
                {% for have in job.nice_to_have.splitlines %}
                <li> {{ have }} </li> 
                {% endfor %} 
             </div>
            {% endif %}
            {% if job.benefits %}  
             <div class="w-full flex flex-col gap-2 pb-10 pt-10 ">
                <h2 class="font-bold text-[#0A96DE] text-3xl">Benefits</h2>
                {% for benefit in job.benefits.splitlines %}
                <li> {{ benefit }} </li> 
                {% endfor %}
             </div>
             {% endif %}
             <div class="w-full flex flex-col gap-2 border-1 border-[#B3E3FC] bg-[#E7F6FE] p-5 rounded-xl ">
                <h2 class="font-bold text-[#0A96DE] text-3xl">Contact Information</h2>
                <div class="w-full flex flex-col  sm:flex sm:flex-row sm:justify-between sm:items-end gap-4">
                  <div>
                     <div class="flex flex-row gap-1.5"> <i class="bi bi-building text-[#0A96DE] text-xl"></i> <p class="font-bold text-md"> {{ job.company_name }}</p> </div>
                     <div class="flex flex-row gap-1.5"> <i class="bi bi-envelope text-[#0A96DE] text-xl"></i> <p class="font-bold text-md"> {{ job.contact_info}} </p> </div>
                  </div>
                  <div class="w-full">
                     <a href="{{ job.job_link }}"  class="bg-[#0A96DE] w-full  hover:bg-[#0884c2] py-2 px-4  text-white rounded-md sm:w-auto text-center">
                     Contact Company
                     </a>
                  </div>
                  
                </div>
             </div>
        </div>
     </div>
    </div>

{% endblock %}
    
</body>
</html>